* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #b1ae91;
  height: 100%;
}

footer,
header {
  background-color: #667173;
}

footer {
  padding: 40px 0;
}

header {
  padding: 20px 0;
}

main {
  flex: 1 0 auto;
  padding: 20px 0;
}

li {
  list-style: none;
  font-size: 1.25rem;
}

.root {
  height: 100%;
}

.y-sticky {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.y-wrap {
  margin: 0 auto;
  width: 90%;
}

/* navbar header */
nav {
  display: flex;
  justify-content: space-around;
}

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  color:white;
}

.nav-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links-container {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links-container li {
  text-decoration: none;
  color: white;
  padding: .5rem;
  display: block;
}

.navbar-links-container li:hover {
  background-color: #7d8a8c;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 1.25rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 25px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 750px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links{
    display: none;
  }
}

/* profile page */

.user-profile-container{
  display:flex;
}
.user-profile{
  display:flex;
  flex-direction: column;
}

.watch-list{
  display: flex;
  flex-direction: column;
}
.to-watch{
  display:flex;
  justify-content: column;

}
.just-watched{
  display:flex;

}
.user-list{
  display: flex;
}

.movie-show-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-movies-container {
  height: 580px;
  overflow-y: auto;
}

.top-shows-container {
  height: 580px;
  overflow-y: auto;
}

.movie-show-container h1 {
  display: flex;
  justify-content: center;
}

/* landing page movie-show-switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #666872;
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.movie-show-slider{
  display: flex;
  justify-content: space-around;
}